doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Multikart admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
    meta(name='keywords' content='admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app')
    meta(name='author' content='pixelstrap')
    link(rel='icon' href='/images/theme/dashboard/favicon.png' type='image/x-icon')
    link(rel='shortcut icon' href='/images/theme/dashboard/favicon.png' type='image/x-icon')
    title Multikart - Premium Admin Template
    // Google font
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    // Font Awesome
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/fontawesome.css')
    // Flag icon
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/flag-icon.css')
    // ico-font
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/icofont.css')
    // Prism css
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/prism.css')
    // Chartist css
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/chartist.css')
    // Bootstrap css
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/bootstrap.css')
    // App css
    link(rel='stylesheet' type='text/css' href='/stylesheets/css/admin.css')
  body
    // page-wrapper Start
    .page-wrapper
      // Page Header Start
      .page-main-header
        .main-header-right.row
          .main-header-left.d-lg-none
            .logo-wrapper
              a(href='/')
                img.blur-up.lazyloaded(src='/images/theme/dashboard/multikart-logo.png' alt='')
          .mobile-sidebar
            .media-body.text-right.switch-sm
              label.switch
                a(href='#')
                  i#sidebar-toggle(data-feather='align-left')
          .nav-right.col
            ul.nav-menus
              li
                form.form-inline.search-form
                  .form-group
                    input.form-control-plaintext(type='search' placeholder='Search..')
                    span.d-sm-none.mobile-search
                      i(data-feather='search')
              li
                a.text-dark(href='#!' onclick='javascript:toggleFullScreen()')
                  i(data-feather='maximize-2')
              li.onhover-dropdown
                a.txt-dark(href='#')
                  h6 EN
                ul.language-dropdown.onhover-show-div.p-20
                  li
                    a(href='#' data-lng='en')
                      i.flag-icon.flag-icon-is
                      |  English
                  li
                    a(href='#' data-lng='es')
                      i.flag-icon.flag-icon-um
                      |  Spanish
                  li
                    a(href='#' data-lng='pt')
                      i.flag-icon.flag-icon-uy
                      |  Portuguese
                  li
                    a(href='#' data-lng='fr')
                      i.flag-icon.flag-icon-nz
                      |  French
              li.onhover-dropdown
                i(data-feather='bell')
                span.badge.badge-pill.badge-primary.pull-right.notification-badge 3
                span.dot
                ul.notification-dropdown.onhover-show-div.p-0
                  li
                    | Notification 
                    span.badge.badge-pill.badge-primary.pull-right 3
                  li
                    .media
                      .media-body
                        h6.mt-0
                          span
                            i.shopping-color(data-feather='shopping-bag')
                          | Your order ready for Ship..!
                        p.mb-0 Lorem ipsum dolor sit amet, consectetuer.
                  li
                    .media
                      .media-body
                        h6.mt-0.txt-success
                          span
                            i.download-color.font-success(data-feather='download')
                          | Download Complete
                        p.mb-0 Lorem ipsum dolor sit amet, consectetuer.
                  li
                    .media
                      .media-body
                        h6.mt-0.txt-danger
                          span
                            i.alert-color.font-danger(data-feather='alert-circle')
                          | 250 MB trash files
                        p.mb-0 Lorem ipsum dolor sit amet, consectetuer.
                  li.txt-dark
                    a(href='#') All
                    |  notification
              li
                a(href='#')
                  i.right_side_toggle(data-feather='message-square')
                  span.dot
              li.onhover-dropdown
                .media.align-items-center
                  img.align-self-center.pull-right.img-50.rounded-circle.blur-up.lazyloaded(src='/images/theme/dashboard/man.png' alt='header-user')
                  .dotted-animation
                    span.animate-circle
                    span.main-circle
                ul.profile-dropdown.onhover-show-div.p-20.profile-dropdown-hover
                  li
                    a(href='#')
                      i(data-feather='user')
                      | Edit Profile
                  li
                    a(href='#')
                      i(data-feather='mail')
                      | Inbox
                  li
                    a(href='#')
                      i(data-feather='lock')
                      | Lock Screen
                  li
                    a(href='#')
                      i(data-feather='settings')
                      | Settings
                  li
                    a(href='#')
                      i(data-feather='log-out')
                      | Logout
            .d-lg-none.mobile-toggle.pull-right
              i(data-feather='more-horizontal')
      // Page Header Ends
      // Page Body Start
      .page-body-wrapper
        // Page Sidebar Start
        .page-sidebar
          .main-header-left.d-none.d-lg-block
            .logo-wrapper
              a(href='/')
                img.blur-up.lazyloaded(src='/images/theme/dashboard/multikart-logo.png' alt='')
          .sidebar.custom-scrollbar
            .sidebar-user.text-center
              div
                img.img-60.rounded-circle.lazyloaded.blur-up(src='/images/theme/dashboard/man.png' alt='#')
              h6.mt-3.f-14 JOHN
              p general manager.
            ul.sidebar-menu
              li
                a.sidebar-header(href='/dashboard')
                  i(data-feather='home')
                  span Dashboard
              li
                a.sidebar-header(href='#')
                  i(data-feather='box')
                  span Products
                  i.fa.fa-angle-right.pull-right
                ul.sidebar-submenu
                    li
                        a(href='/dashboard/addproduct')
                            i.fa.fa-circle
                            | Add Product
                    li
                        a(href='/dashboard/productlist')
                          i.fa.fa-circle
                          | Product List
              li
                a.sidebar-header(href='')
                  i(data-feather='dollar-sign')
                  span Sales
                  i.fa.fa-angle-right.pull-right
                ul.sidebar-submenu
                  li
                    a(href='/dashboard/orders')
                      i.fa.fa-circle
                      | Orders
                  li
                    a(href='/dashboard/transactions')
                      i.fa.fa-circle
                      | Transactions
                //-   li
                //-     a(href='#')
                //-       i.fa.fa-circle
                //-       span Physical
                //-       i.fa.fa-angle-right.pull-right
                //-     ul.sidebar-submenu
                //-       li
                //-         a(href='category.html')
                //-           i.fa.fa-circle
                //-           | Category
                //-       li
                //-         a(href='category-sub.html')
                //-           i.fa.fa-circle
                //-           | Sub Category
                //-       li
                //-         a(href='product-list.html')
                //-           i.fa.fa-circle
                //-           | Product List
                //-       li
                //-         a(href='product-detail.html')
                //-           i.fa.fa-circle
                //-           | Product Detail
                //-       li
                //-         a(href='add-product.html')
                //-           i.fa.fa-circle
                //-           | Add Product
                //-   li
                //-     a(href='#')
                //-       i.fa.fa-circle
                //-       span Digital
                //-       i.fa.fa-angle-right.pull-right
                //-     ul.sidebar-submenu
                //-       li
                //-         a(href='category-digital.html')
                //-           i.fa.fa-circle
                //-           | Category
                //-       li
                //-         a(href='category-digitalsub.html')
                //-           i.fa.fa-circle
                //-           | Sub Category
                //-       li
                //-         a(href='product-listdigital.html')
                //-           i.fa.fa-circle
                //-           | Product List
                //-       li
                //-         a(href='add-digital-product.html')
                //-           i.fa.fa-circle
                //-           | Add Product
            //-   li
            //-     a.sidebar-header(href='')
            //-       i(data-feather='tag')
            //-       span Coupons
            //-       i.fa.fa-angle-right.pull-right
            //-     ul.sidebar-submenu
            //-       li
            //-         a(href='coupon-list.html')
            //-           i.fa.fa-circle
            //-           | List Coupons
            //-       li
            //-         a(href='coupon-create.html')
            //-           i.fa.fa-circle
            //-           | Create Coupons
            //-   li
            //-     a.sidebar-header(href='#')
            //-       i(data-feather='clipboard')
            //-       span Pages
            //-       i.fa.fa-angle-right.pull-right
            //-     ul.sidebar-submenu
            //-       li
            //-         a(href='pages-list.html')
            //-           i.fa.fa-circle
            //-           | List Page
            //-       li
            //-         a(href='page-create.html')
            //-           i.fa.fa-circle
            //-           | Create Page
            //-   li
            //-     a.sidebar-header(href='media.html')
            //-       i(data-feather='camera')
            //-       span Media
            //-   li
            //-     a.sidebar-header(href='#')
            //-       i(data-feather='align-left')
            //-       span Menus
            //-       i.fa.fa-angle-right.pull-right
            //-     ul.sidebar-submenu
            //-       li
            //-         a(href='menu-list.html')
            //-           i.fa.fa-circle
            //-           | Menu Lists
            //-       li
            //-         a(href='create-menu.html')
            //-           i.fa.fa-circle
            //-           | Create Menu
            //-   li
            //-     a.sidebar-header(href='')
            //-       i(data-feather='user-plus')
            //-       span Users
            //-       i.fa.fa-angle-right.pull-right
            //-     ul.sidebar-submenu
            //-       li
            //-         a(href='user-list.html')
            //-           i.fa.fa-circle
            //-           | User List
            //-       li
            //-         a(href='create-user.html')
            //-           i.fa.fa-circle
            //-           | Create User
            //-   li
            //-     a.sidebar-header(href='')
            //-       i(data-feather='users')
            //-       span Vendors
            //-       i.fa.fa-angle-right.pull-right
            //-     ul.sidebar-submenu
            //-       li
            //-         a(href='list-vendor.html')
            //-           i.fa.fa-circle
            //-           | Vendor List
            //-       li
            //-         a(href='create-vendors.html')
            //-           i.fa.fa-circle
            //-           | Create Vendor
            //-   li
            //-     a.sidebar-header(href='')
            //-       i(data-feather='chrome')
            //-       span Localization
            //-       i.fa.fa-angle-right.pull-right
            //-     ul.sidebar-submenu
            //-       li
            //-         a(href='translations.html')
            //-           i.fa.fa-circle
            //-           | Translations
            //-       li
            //-         a(href='currency-rates.html')
            //-           i.fa.fa-circle
            //-           | Currency Rates
            //-       li
            //-         a(href='taxes.html')
            //-           i.fa.fa-circle
            //-           | Taxes
            //-   li
            //-     a.sidebar-header(href='reports.html')
            //-       i(data-feather='bar-chart')
            //-       span Reports
            //-   li
            //-     a.sidebar-header(href='')
            //-       i(data-feather='settings')
            //-       span Settings
            //-       i.fa.fa-angle-right.pull-right
            //-     ul.sidebar-submenu
            //-       li
            //-         a(href='profile.html')
            //-           i.fa.fa-circle
            //-           | Profile
            //-   li
            //-     a.sidebar-header(href='invoice.html')
            //-       i(data-feather='archive')
            //-       span Invoice
            //-   li
            //-     a.sidebar-header(href='/dashboard')
            //-       i(data-feather='log-in')
            //-       span Login
        // Page Sidebar Ends
        // Right sidebar Start
        //- #right_side_bar.right-sidebar
          div
            .container.p-0
              .modal-header.p-l-20.p-r-20
                .col-sm-8.p-0
                  h6.modal-title.font-weight-bold FRIEND LIST
                .col-sm-4.text-right.p-0
                  i.mr-2(data-feather='settings')
            .friend-list-search.mt-0
              input(type='text' placeholder='search friend')
              i.fa.fa-search
            .p-l-30.p-r-30
              .chat-box
                .people-list.friend-list
                  ul.list
                    li.clearfix
                      img.rounded-circle.user-image(src='/images/theme/dashboard/user.png' alt='')
                      .status-circle.online
                      .about
                        .name Vincent Porter
                        .status  Online
                    li.clearfix
                      img.rounded-circle.user-image(src='/images/theme/dashboard/user1.jpg' alt='')
                      .status-circle.away
                      .about
                        .name Ain Chavez
                        .status  28 minutes ago
                    li.clearfix
                      img.rounded-circle.user-image(src='/images/theme/dashboard/user2.jpg' alt='')
                      .status-circle.online
                      .about
                        .name Kori Thomas
                        .status  Online
                    li.clearfix
                      img.rounded-circle.user-image(src='/images/theme/dashboard/user3.jpg' alt='')
                      .status-circle.online
                      .about
                        .name Erica Hughes
                        .status  Online
                    li.clearfix
                      img.rounded-circle.user-image(src='/images/theme/dashboard/man.png' alt='')
                      .status-circle.offline
                      .about
                        .name Ginger Johnston
                        .status  2 minutes ago
                    li.clearfix
                      img.rounded-circle.user-image(src='/images/theme/dashboard/user5.jpg' alt='')
                      .status-circle.away
                      .about
                        .name Prasanth Anand
                        .status  2 hour ago
                    li.clearfix
                      img.rounded-circle.user-image(src='/images/theme/dashboard/designer.jpg' alt='')
                      .status-circle.online
                      .about
                        .name Hileri Jecno
                        .status  Online
        // Right sidebar Ends
        .page-body
          // Container-fluid starts
          .container-fluid
            .page-header
              .row
                .col-lg-6
                  .page-header-left
                    h3
                      | Dashboard
                      small Multikart Admin panel
                .col-lg-6
                  ol.breadcrumb.pull-right
                    li.breadcrumb-item
                      a(href='/')
                        i(data-feather='home')
                    li.breadcrumb-item.active Dashboard
          // Container-fluid Ends
          // Container-fluid starts
          .container-fluid
            .row
              .col-xl-3.col-md-6.xl-50
                //- .card.o-hidden.widget-cards
                //-   .bg-warning.card-body
                //-     .media.static-top-widget.row
                //-       .icons-widgets.col-4
                //-         .align-self-center.text-center
                //-           i.font-warning(data-feather='navigation')
                //-       .media-body.col-8
                //-         span.m-0 Earnings
                //-         h3.mb-0
                //-           | $ 
                //-           span.counter 6659
                //-           small  This Month
              .col-xl-3.col-md-6.xl-50
                //- .card.o-hidden.widget-cards
                //-   .bg-secondary.card-body
                //-     .media.static-top-widget.row
                //-       .icons-widgets.col-4
                //-         .align-self-center.text-center
                //-           i.font-secondary(data-feather='box')
                //-       .media-body.col-8
                //-         span.m-0 Products
                //-         h3.mb-0
                //-           | $ 
                //-           span.counter 9856
                //-           small  This Month
              .col-xl-3.col-md-6.xl-50
                //- .card.o-hidden.widget-cards
                //-   .bg-primary.card-body
                //-     .media.static-top-widget.row
                //-       .icons-widgets.col-4
                //-         .align-self-center.text-center
                //-           i.font-primary(data-feather='message-square')
                //-       .media-body.col-8
                //-         span.m-0 Messages
                //-         h3.mb-0
                //-           | $ 
                //-           span.counter 893
                //-           small  This Month
              .col-xl-3.col-md-6.xl-50
                //- .card.o-hidden.widget-cards
                //-   .bg-danger.card-body
                //-     .media.static-top-widget.row
                //-       .icons-widgets.col-4
                //-         .align-self-center.text-center
                //-           i.font-danger(data-feather='users')
                //-       .media-body.col-8
                //-         span.m-0 New Vendors
                //-         h3.mb-0
                //-           | $ 
                //-           span.counter 45631
                //-           small  This Month
              //-.col-xl-6.xl-100
                //- .card
                //-   .card-header
                //-     h5 Market Value
                //-     .card-header-right
                //-       ul.list-unstyled.card-option
                //-         li
                //-           i.icofont.icofont-simple-left
                //-         li
                //-           i.view-html.fa.fa-code
                //-         li
                //-           i.icofont.icofont-maximize.full-card
                //-         li
                //-           i.icofont.icofont-minus.minimize-card
                //-         li
                //-           i.icofont.icofont-refresh.reload-card
                //-         li
                //-           i.icofont.icofont-error.close-card
                //-   .card-body
                //-     .market-chart
                //-     .code-box-copy
                //-       button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head' title='Copy')
                //-         i.icofont.icofont-copy-alt
                //-       pre.
              .col-xl-12.xl-100
                .card
                  .card-header
                    h5 Latest Orders
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          i.icofont.icofont-simple-left
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body
                    .user-status.table-responsive.latest-order-table
                      table.table.table-bordernone
                        thead
                          tr
                            th(scope='col') Order ID
                            th(scope='col') Order Total
                            th(scope='col') Payment Method
                            th(scope='col') Status
                        tbody
                          tr
                            td 1
                            td.digits $120.00
                            td.font-danger Bank Transfers
                            td.digits On Way
                          tr
                            td 2
                            td.digits $90.00
                            td.font-secondary Ewallets
                            td.digits Delivered
                          tr
                            td 3
                            td.digits $240.00
                            td.font-warning Cash
                            td.digits Delivered
                          tr
                            td 4
                            td.digits $120.00
                            td.font-primary Direct Deposit
                            td.digits $6523
                          tr
                            td 5
                            td.digits $50.00
                            td.font-primary Bank Transfers
                            td.digits Delivered
                      a.btn.btn-primary(href='/dashboard/orders') View All Orders
                    .code-box-copy
                      button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head1' title='' data-original-title='Copy')
                        i.icofont.icofont-copy-alt
                      pre.language-html.
              .col-xl-3.col-md-6.xl-50
                .card.order-graph.sales-carousel
                  .card-header
                    h6 Total Sales
                    .row
                      .col-6
                        .small-chartjs
                          #simple-line-chart-sparkline-3.flot-chart-placeholder
                      .col-6
                        .value-graph
                          h3
                            | 42% 
                            span
                              i.fa.fa-angle-up.font-primary
                  .card-body
                    .media
                      .media-body
                        span Sales Last Month
                        h2.mb-0 9054
                        p
                          | 0.25% 
                          span
                            i.fa.fa-angle-up
                        h5.f-w-600 Gross sales of August
                        p Lorem Ipsum is simply dummy text of the printing and typesetting
                      .bg-primary.b-r-8
                        .small-box
                          i(data-feather='briefcase')
              .col-xl-3.col-md-6.xl-50
                .card.order-graph.sales-carousel
                  .card-header
                    h6 Total purchase
                    .row
                      .col-6
                        .small-chartjs
                          #simple-line-chart-sparkline.flot-chart-placeholder
                      .col-6
                        .value-graph
                          h3
                            | 20% 
                            span
                              i.fa.fa-angle-up.font-secondary
                  .card-body
                    .media
                      .media-body
                        span Monthly purchase
                        h2.mb-0 2154
                        p
                          | 0.13% 
                          span
                            i.fa.fa-angle-up
                        h5.f-w-600 Avg Gross purchase
                        p Lorem Ipsum is simply dummy text of the printing and typesetting
                      .bg-secondary.b-r-8
                        .small-box
                          i(data-feather='credit-card')
              .col-xl-3.col-md-6.xl-50
                .card.order-graph.sales-carousel
                  .card-header
                    h6 Total cash transaction
                    .row
                      .col-6
                        .small-chartjs
                          #simple-line-chart-sparkline-2.flot-chart-placeholder
                      .col-6
                        .value-graph
                          h3
                            | 28% 
                            span
                              i.fa.fa-angle-up.font-warning
                  .card-body
                    .media
                      .media-body
                        span Cash on hand
                        h2.mb-0 4672
                        p
                          | 0.8% 
                          span
                            i.fa.fa-angle-up
                        h5.f-w-600 Details about cash
                        p Lorem Ipsum is simply dummy text of the printing and typesetting
                      .bg-warning.b-r-8
                        .small-box
                          i(data-feather='shopping-cart')
              .col-xl-3.col-md-6.xl-50
                .card.order-graph.sales-carousel
                  .card-header
                    h6 Daily Deposits
                    .row
                      .col-6
                        .small-chartjs
                          #simple-line-chart-sparkline-1.flot-chart-placeholder
                      .col-6
                        .value-graph
                          h3
                            | 75% 
                            span
                              i.fa.fa-angle-up.font-danger
                  .card-body
                    .media
                      .media-body
                        span Security Deposits
                        h2.mb-0 0782
                        p
                          | 0.25% 
                          span
                            i.fa.fa-angle-up
                        h5.f-w-600 Gross sales of June
                        p Lorem Ipsum is simply dummy text of the printing and typesetting
                      .bg-danger.b-r-8
                        .small-box
                          i(data-feather='calendar')
            //-   .col-sm-12
            //-     .card
            //-       .card-header
            //-         h5 Buy / Sell
            //-         .card-header-right
            //-           ul.list-unstyled.card-option
            //-             li
            //-               i.icofont.icofont-simple-left
            //-             li
            //-               i.view-html.fa.fa-code
            //-             li
            //-               i.icofont.icofont-maximize.full-card
            //-             li
            //-               i.icofont.icofont-minus.minimize-card
            //-             li
            //-               i.icofont.icofont-refresh.reload-card
            //-             li
            //-               i.icofont.icofont-error.close-card
            //-       .card-body.sell-graph
            //-         canvas#myGraph
            //-         .code-box-copy
            //-           button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head3' title='' data-original-title='Copy')
            //-             i.icofont.icofont-copy-alt
            //-           pre.language-html.
            //-   .col-xl-6.xl-100
            //-     .card.height-equal
            //-       .card-header
            //-         h5 Goods return
            //-         .card-header-right
            //-           ul.list-unstyled.card-option
            //-             li
            //-               i.icofont.icofont-simple-left
            //-             li
            //-               i.view-html.fa.fa-code
            //-             li
            //-               i.icofont.icofont-maximize.full-card
            //-             li
            //-               i.icofont.icofont-minus.minimize-card
            //-             li
            //-               i.icofont.icofont-refresh.reload-card
            //-             li
            //-               i.icofont.icofont-error.close-card
            //-       .card-body
            //-         .user-status.table-responsive.products-table
            //-           table.table.table-bordernone.mb-0
            //-             thead
            //-               tr
            //-                 th(scope='col') Details
            //-                 th(scope='col') Quantity
            //-                 th(scope='col') Status
            //-                 th(scope='col') Price
            //-             tbody
            //-               tr
            //-                 td Simply dummy text of the printing
            //-                 td.digits 1
            //-                 td.font-primary Pending
            //-                 td.digits $6523
            //-               tr
            //-                 td Long established
            //-                 td.digits 5
            //-                 td.font-secondary Cancle
            //-                 td.digits $6523
            //-               tr
            //-                 td sometimes by accident
            //-                 td.digits 10
            //-                 td.font-secondary Cancle
            //-                 td.digits $6523
            //-               tr
            //-                 td Classical Latin literature
            //-                 td.digits 9
            //-                 td.font-primary Return
            //-                 td.digits $6523
            //-               tr
            //-                 td keep the site on the Internet
            //-                 td.digits 8
            //-                 td.font-primary Pending
            //-                 td.digits $6523
            //-               tr
            //-                 td Molestiae consequatur
            //-                 td.digits 3
            //-                 td.font-secondary Cancle
            //-                 td.digits $6523
            //-               tr
            //-                 td Pain can procure
            //-                 td.digits 8
            //-                 td.font-primary Return
            //-                 td.digits $6523
            //-         .code-box-copy
            //-           button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head4' title='' data-original-title='Copy')
            //-             i.icofont.icofont-copy-alt
            //-           pre.language-html.
            //-   .col-xl-6.xl-100
            //-     .card.height-equal
            //-       .card-header
            //-         h5 Empolyee Status
            //-         .card-header-right
            //-           ul.list-unstyled.card-option
            //-             li
            //-               i.icofont.icofont-simple-left
            //-             li
            //-               i.view-html.fa.fa-code
            //-             li
            //-               i.icofont.icofont-maximize.full-card
            //-             li
            //-               i.icofont.icofont-minus.minimize-card
            //-             li
            //-               i.icofont.icofont-refresh.reload-card
            //-             li
            //-               i.icofont.icofont-error.close-card
            //-       .card-body
            //-         .user-status.table-responsive.products-table
            //-           table.table.table-bordernone.mb-0
            //-             thead
            //-               tr
            //-                 th(scope='col') Name
            //-                 th(scope='col') Designation
            //-                 th(scope='col') Skill Level
            //-                 th(scope='col') Experience
            //-             tbody
            //-               tr
            //-                 td.bd-t-none.u-s-tb
            //-                   .align-middle.image-sm-size
            //-                     img.img-radius.align-top.m-r-15.rounded-circle.blur-up.lazyloaded(src='/images/theme/dashboard/user2.jpg' alt='' data-original-title='' title='')
            //-                     .d-inline-block
            //-                       h6
            //-                         | John Deo 
            //-                         span.text-muted.digits (14+ Online)
            //-                 td Designer
            //-                 td
            //-                   .progress-showcase
            //-                     .progress(style='height: 8px;')
            //-                       .progress-bar.bg-primary(role='progressbar' style='width: 30%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
            //-                 td.digits 2 Year
            //-               tr
            //-                 td.bd-t-none.u-s-tb
            //-                   .align-middle.image-sm-size
            //-                     img.img-radius.align-top.m-r-15.rounded-circle.blur-up.lazyloaded(src='/images/theme/dashboard/user1.jpg' alt='' data-original-title='' title='')
            //-                     .d-inline-block
            //-                       h6
            //-                         | Holio Mako 
            //-                         span.text-muted.digits (250+ Online)
            //-                 td Developer
            //-                 td
            //-                   .progress-showcase
            //-                     .progress(style='height: 8px;')
            //-                       .progress-bar.bg-secondary(role='progressbar' style='width: 70%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
            //-                 td.digits 3 Year
            //-               tr
            //-                 td.bd-t-none.u-s-tb
            //-                   .align-middle.image-sm-size
            //-                     img.img-radius.align-top.m-r-15.rounded-circle.blur-up.lazyloaded(src='/images/theme/dashboard/man.png' alt='' data-original-title='' title='')
            //-                     .d-inline-block
            //-                       h6
            //-                         | Mohsib lara
            //-                         span.text-muted.digits (99+ Online)
            //-                 td Tester
            //-                 td
            //-                   .progress-showcase
            //-                     .progress(style='height: 8px;')
            //-                       .progress-bar.bg-primary(role='progressbar' style='width: 60%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
            //-                 td.digits 5 Month
            //-               tr
            //-                 td.bd-t-none.u-s-tb
            //-                   .align-middle.image-sm-size
            //-                     img.img-radius.align-top.m-r-15.rounded-circle.blur-up.lazyloaded(src='/images/theme/dashboard/user.png' alt='' data-original-title='' title='')
            //-                     .d-inline-block
            //-                       h6
            //-                         | Hileri Soli 
            //-                         span.text-muted.digits (150+ Online)
            //-                 td Designer
            //-                 td
            //-                   .progress-showcase
            //-                     .progress(style='height: 8px;')
            //-                       .progress-bar.bg-secondary(role='progressbar' style='width: 30%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
            //-                 td.digits 3 Month
            //-               tr
            //-                 td.bd-t-none.u-s-tb
            //-                   .align-middle.image-sm-size
            //-                     img.img-radius.align-top.m-r-15.rounded-circle.blur-up.lazyloaded(src='/images/theme/dashboard/designer.jpg' alt='' data-original-title='' title='')
            //-                     .d-inline-block
            //-                       h6
            //-                         | Pusiz bia 
            //-                         span.text-muted.digits (14+ Online)
            //-                 td Designer
            //-                 td
            //-                   .progress-showcase
            //-                     .progress(style='height: 8px;')
            //-                       .progress-bar.bg-primary(role='progressbar' style='width: 90%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
            //-                 td.digits 5 Year
            //-         .code-box-copy
            //-           button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head5' title='' data-original-title='Copy')
            //-             i.icofont.icofont-copy-alt
            //-           pre.language-html.
            //-   .col-sm-12
            //-     .card
            //-       .card-header
            //-         h5 Sales Status
            //-         .card-header-right
            //-           ul.list-unstyled.card-option
            //-             li
            //-               i.icofont.icofont-simple-left
            //-             li
            //-               i.view-html.fa.fa-code
            //-             li
            //-               i.icofont.icofont-maximize.full-card
            //-             li
            //-               i.icofont.icofont-minus.minimize-card
            //-             li
            //-               i.icofont.icofont-refresh.reload-card
            //-             li
            //-               i.icofont.icofont-error.close-card
            //-       .card-body
            //-         .row
            //-           .col-xl-3.col-sm-6.xl-50
            //-             .order-graph
            //-               h6 Orders By Location
            //-               .chart-block.chart-vertical-center
            //-                 canvas#myDoughnutGraph
            //-               .order-graph-bottom
            //-                 .media
            //-                   .order-color-primary
            //-                   .media-body
            //-                     h6.mb-0
            //-                       | Saint Lucia 
            //-                       span.pull-right $157
            //-                 .media
            //-                   .order-color-secondary
            //-                   .media-body
            //-                     h6.mb-0
            //-                       | Kenya 
            //-                       span.pull-right $347
            //-                 .media
            //-                   .order-color-danger
            //-                   .media-body
            //-                     h6.mb-0
            //-                       | Liberia
            //-                       span.pull-right $468
            //-                 .media
            //-                   .order-color-warning
            //-                   .media-body
            //-                     h6.mb-0
            //-                       | Christmas Island
            //-                       span.pull-right $742
            //-                 .media
            //-                   .order-color-success
            //-                   .media-body
            //-                     h6.mb-0
            //-                       | Saint Helena 
            //-                       span.pull-right $647
            //-           .col-xl-3.col-sm-6.xl-50
            //-             .order-graph.sm-order-space
            //-               h6 Sales By Location
            //-               .peity-chart-dashboard.text-center
            //-                 span.pie-colours-1 4,7,6,5
            //-               .order-graph-bottom.sales-location
            //-                 .media
            //-                   .order-shape-primary
            //-                   .media-body
            //-                     h6.mb-0.mr-0
            //-                       | Germany 
            //-                       span.pull-right 25%
            //-                 .media
            //-                   .order-shape-secondary
            //-                   .media-body
            //-                     h6.mb-0.mr-0
            //-                       | Brasil 
            //-                       span.pull-right 10%
            //-                 .media
            //-                   .order-shape-danger
            //-                   .media-body
            //-                     h6.mb-0.mr-0
            //-                       | United Kingdom
            //-                       span.pull-right 34%
            //-                 .media
            //-                   .order-shape-warning
            //-                   .media-body
            //-                     h6.mb-0.mr-0
            //-                       | Australia
            //-                       span.pull-right 5%
            //-                 .media
            //-                   .order-shape-success
            //-                   .media-body
            //-                     h6.mb-0.mr-0
            //-                       | Canada 
            //-                       span.pull-right 25%
            //-           .col-xl-6.xl-100
            //-             .order-graph.xl-space
            //-               h6 Revenue for last month
            //-               .ct-4.flot-chart-container
            //-         .code-box-copy
            //-           button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#example-head2' title='' data-original-title='Copy')
            //-             i.icofont.icofont-copy-alt
            //-           pre.language-html.
          // Container-fluid Ends
          // footer start
          footer.footer
            .container-fluid
              .row
                .col-md-6.footer-copyright
                  p.mb-0 Copyright 2019 © Multikart All rights reserved.
                .col-md-6
                  p.pull-right.mb-0
                    | Hand crafted & made with
                    i.fa.fa-heart
          // footer end
          // latest jquery
          script(src='/javascripts/js/jquery-3.3.1.min.js')
          // Bootstrap js
          script(src='/javascripts/js/popper.min.js')
          script(src='/javascripts/js/bootstrap.js')
          // feather icon js
          script(src='/javascripts/js/icons/feather-icon/feather.min.js')
          script(src='/javascripts/js/icons/feather-icon/feather-icon.js')
          // Sidebar jquery
          script(src='/javascripts/js/sidebar-menu.js')
          // chartist js
          script(src='/javascripts/js/chart/chartist/chartist.js')
          // chartjs js
          script(src='/javascripts/js/chart/chartjs/chart.min.js')
          // lazyload js
          script(src='/javascripts/js/lazysizes.min.js')
          // copycode js
          script(src='/javascripts/js/prism/prism.min.js')
          script(src='/javascripts/js/clipboard/clipboard.min.js')
          script(src='/javascripts/js/custom-card/custom-card.js')
          // counter js
          script(src='/javascripts/js/counter/jquery.waypoints.min.js')
          script(src='/javascripts/js/counter/jquery.counterup.min.js')
          script(src='/javascripts/js/counter/counter-custom.js')
          // peity chart js
          script(src='/javascripts/js/chart/peity-chart/peity.jquery.js')
          // sparkline chart js
          script(src='/javascripts/js/chart/sparkline/sparkline.js')
          // Customizer admin
          //- script(src='/javascripts/js/admin-customizer.js')
          // dashboard custom js
          script(src='/javascripts/js/dashboard/default.js')
          // right sidebar js
          script(src='/javascripts/js/chat-menu.js')
          // height equal js
          script(src='/javascripts/js/height-equal.js')
          // lazyload js
          script(src='/javascripts/js/lazysizes.min.js')
          // script admin
          script(src='/javascripts/js/admin-script.js')
